*{
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-size: 16px;
  text-align:center;
  margin: 0;
}

header p {
  padding: 0 1rem;
  margin: 0;
}

header h1 {
  color: #F8F8F8;
}

main {
  width: 100%;
  margin: 0;
}

h1 {
  font-family: 'Libre Franklin', sans-serif;
  font-size: 4.3rem;
  font-weight: bold;
  margin: 1rem 0 1rem 0;
}

h2 {
  font-family: 'Libre Franklin', sans-serif;
  font-size: 2.3rem;
  font-weight: bold;
}
p {
  font-family: 'Trykker', serif;
  font-size: 1.5rem;
  font-weight: normal;
}

.header-container {
  background-color: #282B30;
  position: fixed;
  width: 100%;
  top: 0;
}

.logo {
  float: left;
  margin: 1rem 0 1rem 2rem;
  width: 6.2rem;
}

.header-text {
  font-family: 'Libre Franklin', sans-serif;
  font-size: 1.2rem;
  color: #00E3EA;
  display: inline;
  float: right;
  margin: 1.25rem 2.5rem 1.25rem 0;
}

.first-page-container {
  display: center;
  text-align: center;
  background-image: url("Images/First_Page_Background.png");
  background-size: cover;
  color:   #F8F8F8;
  align-items: center;
  padding-bottom: 6rem;
}

.first-page-text {
  padding-top: 8.2rem;
  margin: 0 auto;
  max-width: 67%;
}

.first-page-text p {
  font-family: 'Libre Franklin', sans-serif;
  margin: 1rem 0 1rem 0;
}

.get-cheq-container-dark {
  width: 28.12rem;
  background-color: rgba(40, 43, 48, 0.7);
  padding: 0.5rem 0 0.5rem 0;
  margin-top: 3.12rem;
  margin-left: auto;
  margin-right: auto;
}

.get-cheq-white {
  font-family: 'Libre Franklin', sans-serif;
  font-weight: bold;
  color: #00E3EA;
  font-size: 2.25rem;
  margin: 1rem 0 0 0;
}

.button-turquoise-border {
  background-color: #FFFFFF;
  border: 0.25rem solid #00DFE4;
  border-radius: 0.25rem;
  margin: 1rem 0.5rem 1rem 0.5rem;
}

.google-play-button {
  background-image: url("Images/Google_Play_Button_Background.svg");
  background-position:left;
  background-size: cover;
}

.app-store-button {
  background-image: url("Images/App_Store_Button_Background.svg");
  background-position:left;
  background-size: cover;
}

.small-button-text {
  font-family: 'Libre Franklin', sans-serif;
  color: #282B30;
  font-size: 0.75rem;
  text-align: left;
  margin: 0.125rem;
  padding-left: 2.5rem;
  padding-right: 0.625rem;
}

.large-button-text {
  font-family: 'Libre Franklin', sans-serif;
  color: #282B30;
  font-size: 1.125rem;
  text-align: left;
  margin: 0.125rem;
  padding-left: 2.5rem;
  padding-right: 0.625rem;
}

.how-it-works-header {
  background-color: #01A9AD;
  color: #F8F8F8;
  width: 100%;
  margin-top: 0;
  margin-bottom: 1rem;
  padding-top: 0.125rem;
  padding-bottom: 0.125rem;
}

.how-it-works-header h1 {
  font-size: 2.625rem;
}

.narrative-text-left {
  max-width: 33%;
  float: left;
  margin-top: 17%;
  margin-left: 17%;
  text-align: left;
}

.illustration {
  padding-top: 3.125rem;
  padding-bottom: 3.125rem;
}

.illustration-left-float {
  margin-top: 3.125rem;
  margin-bottom: 3.125rem;
  padding-left: 17%;
  float: left;
}

.white-background {
  background: white;
  color:   #282B30;
  background-size: cover;
}

.narrative-text-right {
  max-width: 33%;
  float: right;
  margin-top: 8%;
  margin-right: 17%;
  text-align: left;
}

.narrative-text-right-first-paragraph {
  max-width: 33%;
  float: right;
  margin-top: 7%;
  margin-right: 17%;
  margin-bottom: 0;
  padding: 0;
  text-align: left;
}

.narrative-text-right-second-paragraph {
  max-width: 33%;
  float: right;
  margin-right: 17%;
  margin-top: 0;
  padding: 0;
  text-align: left;
}

.teal-background {
  background: #01A9AD;
  color: #F8F8F8;
}

.teal-background-two-paragraph {
  background: #01A9AD;
  color: #F8F8F8;
  float: none;
  min-height: 42rem;
}

.last-page-container {
  clear: both;
  display: block;
  text-align: center;
  background-image: url("Images/Last_Page_Background.png");
  color: #282B30;
  padding-bottom: 6rem;
  align-items: center;
}

.last-page-text {
  padding-top: 4.375rem;
  margin: 0 auto;
  max-width: 67%;
}

.thumbnail {
  margin: 1rem 1rem 1rem 0;
  height: 8rem;
}

.icon {
  width: 2rem;
  margin: 1rem;
}

.get-cheq-container-turquoise {
  width: 28.12rem;
  background-color: #00E3EA;
  padding: 0.5rem 0 0.5rem 0;
  margin-top: 3.12rem;
  margin-left: auto;
  margin-right: auto;
}

.get-cheq-dark {
  font-family: 'Libre Franklin', sans-serif;
  font-weight: bold;
  color: #282B30;
  font-size: 2.25rem;
  margin: 1rem 0 0 0;
}

.button-dark-border {
  background-color: #FFFFFF;
  border: 0.25rem solid #282B30;
  border-radius: 0.25rem;
  margin: 1rem 0.5rem 1rem 0.5rem;
}

.footer-container {
  background-color: #282B30;
  width: 100%;
  margin-bottom: 0;
  height: 4.375rem;
}

.footer-text-left {
  font-family: 'Libre Franklin', sans-serif;
  font-size: 1.125rem;
  color: #00E3EA;
  display: inline;
  float: left;
  padding: 0px 0 0px 2.5rem;
}

.social-icons {
  float: left;
  padding: 0 0 0 2.5rem;
}

.footer-text-right {
  font-family: 'Libre Franklin', sans-serif;
  font-size: 1.125rem;
  color: #00E3EA;
  display: inline;
  float: right;
  padding: 0 2.5rem 0 0;
}

@media only screen
  and (max-device-width: 1000px) {
  h1 {
    font-size: 3.5rem;
  }
  h2 {
    font-size: 2.2rem;
  }
  p {
    font-size: 1.5rem;
  }
  .first-page-text p {
    font-size: 1.3rem;
  }
  .get-cheq-container-dark {
    width: 30rem;
  }
  .get-cheq-container-turquoise {
    width: 30rem;
  }
  .small-button-text {
    font-size: 1rem;
  }
  .large-button-text {
    font-size: 1.5rem;
  }
  .narrative-text-right {
    margin-top: 7%;
  }
  .narrative-text-right-first-paragraph {
    padding: 0;
  }
  .narrative-text-right-second-paragraph {
    padding: 0;
  }
}

@media only screen
  and (max-device-width: 500px) {
  h1 {
    font-size: 4.5rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  p {
    font-size: 1.5rem;
  }
  .logo {
    margin: 1.5rem 0 1.5rem 2rem;
    width: 10rem;
  }
  .header-text {
    font-size: 2.5rem;
    margin-top: 1.9rem;
  }
  .first-page-text {
    max-width: 90%;
}
  .first-page-text p {
    font-size: 1rem;
  }
  .get-cheq-container-dark {
    width: 55rem;
  }

  .get-cheq-white {
    font-size: 3rem;
  }
  .get-cheq-dark {
    font-size: 3rem;
  }
  .get-cheq-container-turquoise {
    width: 55rem;
  }
  .small-button-text {
    font-size: 2rem;
    padding-left: 6rem;
  }
  .large-button-text {
    font-size: 3rem;
    padding-left: 6rem;
  }
  .narrative-text-left {
    max-width: 90%;
    min-width: 90%;
    float: left;
    margin-top: 2rem;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 2rem;
    text-align: center;
  }
  .narrative-text-right {
    max-width: 90%;
    min-width: 90%;
    float: left;
    margin-top: 2rem;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 2rem;
    text-align: center;
  }
  .teal-background-two-paragraph {
    background: #01A9AD;
    color: #F8F8F8;
    float: none;
    width: 100%;
    min-height: 42rem;
    padding-top: 2rem;
  }
  .narrative-text-right-first-paragraph {
    max-width: 90%;
    min-width: 90%;
    font-size: inherit;
    float: none;
    padding-top: 0;
    margin-top: 2rem;
    margin-right: 5%;
    margin-left: 5%;
    padding-bottom: 2rem;
    text-align: center;
  }
  .narrative-text-right-second-paragraph {
    max-width: 90%;
    min-width: 90%;
    float: none;
    margin-right: 5%;
    margin-left: 5%;
    margin-top: 0;
    padding-bottom: 2rem;
    text-align: center;
  }
  .illustration-left-float {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    float: none;
    margin-left: auto;
    margin-right: auto;
  }
  .footer-container {
    min-height: 10rem;
  }
  .icon {
    width: 6rem;
  }
  .footer-text-left {
    font-size: 2.5rem;
  }

  .social-icons {
    float: left;
    padding: 1rem 0 1rem 3.5rem;
  }

  .footer-text-right {
    font-size: 2.5rem;
  }
}
